.bio {
  display: flex;
  flex-direction: column;
  background: #000;
  color: white;
  justify-content: center;
  align-items: center;
}

.bio_cont {
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bio_cont p {
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
}
