.contact {
  background: black;
  padding: 30px 0;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  margin: 30px 0;
  font-size: 2rem;
  text-shadow: 1px 1px 3px black;
  letter-spacing: 2px;
}
.title i {
  font-size: large;
}
.title h2 {
  color: #fff;
  font-weight: 300;
}

.formazord {
  background: black;
  display: flex;
  color: #fff;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 50px 0;
}
.formazord h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
}
.formazord p {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.group {
  display: flex;
  flex-direction: column;
}
.group label {
  color: #fff;
  padding: 10px;
}
.group input {
  outline: none;
  height: 2rem;
}

.formazord textarea {
  width: 500px;
  outline: none;
  font-size: 35px;
  height: 200px;
}
.formazord textarea:placeholder-shown {
  font-size: 12px;
}
.spec {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.formazord button {
  margin-top: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  background: rgb(80, 212, 80);
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .formazord {
    flex-wrap: wrap;
  }
  .formazord textarea {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .formazord {
    flex-wrap: wrap;
  }
  .formazord h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }
  .formazord p {
    font-size: 1rem;
    margin: 30px 0;
  }
  .formazord textarea {
    width: 80vw;
  }
  .contact h1 {
    font-size: 28px;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
    margin: 20px auto;
  }
  #mailz {
    font-size: 11px;
    color: #fff;
  }
  .title h2 {
    margin-top: 15px;
    font-size: 15px;
  }
  .formazord button {
    font-size: 18px;
    padding: 7px 14px;
  }
}
