@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #161616;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-360deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}
#mailz {
  font-size: 49px;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../public/img/paw.webp");
  color: #fff;
  align-items: center;
  padding: 20px;
}
#goup {
  align-items: center;
  text-align: center;
  font-size: 44px;
  cursor: pointer;
}
section {
  color: black;
  padding: 30px 0;
}
#logo {
  top: 0;
  left: 0;
  position: absolute;
}

footer {
  padding: 30px 0;
}
@media only screen and (device-width: 600px) {
  body {
    width: 100vw;
  }
}
