.skills_section {
  background: #161616;
  padding: 80px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}
.center h1 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.present_skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill h2 {
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 3px black;
  font-family: Orbitron, sans-serif;
  letter-spacing: 3px;
  margin: 10px auto;
}
.skill a {
  margin: 10px auto;
  background: #161616;
  color: #22c122;
  border: #22c122 2px solid;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.skill a:hover {
  background: #22c122;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.skill p {
  margin: 10px auto;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .skill h2 {
    padding: 6px auto;
  }
  .skill p {
    margin: 15px auto;
  }
  .skill a {
    margin: 15px auto;
  }
  .center h1 {
    font-size: 28px;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
  }
}
