.skills_section {
  padding: 80px 0;

  z-index: -1;
}
.center {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}
.center h1 {
  margin-bottom: 40px;
}
.present_skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill h2 {
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 3px black;
  font-family: O;
}

@media screen and (max-width: 600px) {
  .center h1 {
    font-size: 28px;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
  }
  .nextImg {
    width: 120px;
  }
}
